# Loops

## while loop
Un ciclo que ejecutar谩 un pedazo de c贸digo una y otra vez, siempre y cuando se siga cumpliendo la condici贸n.

In [4]:
error = 50.0

print('Voy a entrar al loop')

# While Loop
while error > 1:
    error = error/4 #
    print(error)
    
print('Ups, me sal铆 del loop')

Voy a entrar al loop
12.5
3.125
0.78125
Ups, me sal铆 del loop

### if-else dentro de while loop

In [6]:
# Inicializa offset
offset = -6

# While loop
while offset != 0 :
    print("correcting...")
    if offset > 0: # Si el offset es mayor que 0, restame uno cada que salga el loop
      offset -= 1
    else : # Si no, sumame uno cada que de la vuelta el loop
      offset += 1  
    print(offset)

correcting...
-5
correcting...
-4
correcting...
-3
correcting...
-2
correcting...
-1
correcting...
0

## for loop
Executa una pieza de c贸digo por cada elemento de un objeto iterable(string, list, tuple, set, array, etc.)

In [7]:
fam = [1.73, 1.68, 1.71, 1.89]
for height in fam:
    print(height)

1.73
1.68
1.71
1.89

En esta soluci贸n no tenemos acceso al index del elemento sobre el que se est谩 iterando <br>
Si queremos obtener el index, podemos utilizar la funci贸n enumerate()

In [14]:
for index, height in enumerate(fam): #Utilizamos enumerate() en el iterable para obtener index
    print("index " + str(index) + ": " + str(height))

index 0: 1.73
index 1: 1.68
index 2: 1.71
index 3: 1.89

### for loop en strings
for loop puede ser ejecutado en cualquier objeto iterable, incluyendo strings

In [18]:
for c in "family":
    print(c.capitalize())

F
A
M
I
L
Y

## Loops en data structures
Aqu铆 veremos como hacer loops en diferentes data structures, como diccionarios, dataframes de pandas y numpy arrays

### Loops en diccionarios

In [36]:
world = {"afghanistan":30.55,
        "albania":2.77,
        "algeria":39.21}
for key, value in world.items(): # Utilizamos el metodo items() para poder iterar por key y value del diccionario.
    print(key + ' -- ' + str(value))
world

afghanistan -- 30.55
albania -- 2.77
algeria -- 39.21

{'afghanistan': 30.55, 'albania': 2.77, 'algeria': 39.21}

### Loops en numpy arrays

#### 1D NumPy Arrays

No hay mayor problema, los loops jalan

In [38]:
import numpy as np

np_height = np.array([1.73, 1.68, 1.71, 1.89, 1.79])
np_weight = np.array([65.4, 59.2, 63.6, 88.4, 68.7])

bmi = np_weight / np_height ** 2

for val in bmi:
    print(val)

21.85171572722109
20.97505668934241
21.750282138093777
24.74734749867025
21.44127836209856

#### 2D NumPy Arrays

Jala como una lista de listas, te imprime los 1D arrays que conforman el 2D array.

In [40]:
# Definimos los arrays 1D
np_height = np.array([1.73, 1.68, 1.71, 1.89, 1.79])
np_weight = np.array([65.4, 59.2, 63.6, 88.4, 68.7])

# Creamos el array 2D
meas = np.array([np_height,np_weight])

# for loop
for val in meas:
    print(val)

[1.73 1.68 1.71 1.89 1.79]
[65.4 59.2 63.6 88.4 68.7]

Si queremos iterar sobre cada elemento del array, podemos utilizar la funcion np.nditer()

In [41]:
# for loop
for val in np.nditer(meas): # Utilizamos la funcion np.nditer() para iterar sobre cada elemento del array 2D
    print(val)

1.73
1.68
1.71
1.89
1.79
65.4
59.2
63.6
88.4
68.7

### Loop en pandas dataframe

In [47]:
# Creaci贸n del brics dataframe

import pandas as pd

data = {
    'country': ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
    'capital': ['Brasilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
    'area': [8.516, 17.100, 3.286, 9.597, 1.221],
    'population': [200.4, 143.5, 1252.0, 1357.0, 52.98]
}

index = ['BR', 'RU', 'IN', 'CH', 'SA']

brics = pd.DataFrame(data, index=index)
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

Si imprimimos los valores de forma normal, nos trae solo los nombres de las columnas

In [48]:
for val in brics:
    print(val)

country
capital
area
population

Para eso utilizaremos el metodo .iterrows()

In [52]:
for lab, row in brics.iterrows(): #Utilizamos .iterrows() para iterar sobre dataframe
    print(lab + ": " + row["capital"]) # lab = index, row = row

BR: Brasilia
RU: Moscow
IN: New Delhi
CH: Beijing
SA: Pretoria

Agregamos columna al dataframe

In [64]:
for lab, row in brics.iterrows():
    # Creamos una serie en cada iteraci贸n
    brics.loc[lab, "name_length"] = len(row['country'])
print(brics)

         country    capital    area  population  name_length
BR        Brazil   Brasilia   8.516      200.40          6.0
RU        Russia     Moscow  17.100      143.50          6.0
IN         India  New Delhi   3.286     1252.00          5.0
CH         China    Beijing   9.597     1357.00          5.0
SA  South Africa   Pretoria   1.221       52.98         12.0

La manera anterior puede ser poco eficiente, porque est谩s creando un objeto a cada iteraci贸n, la forma 贸ptima de hacerlo puede ser: <br>
Aplicar una funci贸n en un columna, de forma element-wise, utilizando el m茅todo .apply()

In [66]:
# Aplicamos apply en lugar del while loop, obteniendo un resultado mas optimo
brics['name_length'] = brics['country'].apply(len)
print(brics)

         country    capital    area  population  name_length
BR        Brazil   Brasilia   8.516      200.40            6
RU        Russia     Moscow  17.100      143.50            6
IN         India  New Delhi   3.286     1252.00            5
CH         China    Beijing   9.597     1357.00            5
SA  South Africa   Pretoria   1.221       52.98           12