# Pandas üêº

Nos ayuda a transformar la data a un formato tabular y nos brinda funciones para facilitar el tratamiento de los datos. <br>
Caracter√≠sticas:
- Herramienta de manipulaci√≥n de datos de alto nivel.
- Creada en NumPy
- Puede manejar tipos de datos diferentes por cada columna (a diferencia de un array 2D de numpy)

## Transformar diccionario a un dataframe

En este caso los keys representan los nombres de las columnas y los values son los valores de las celdas.

In [3]:
dict = {
    'country':['Brazil','Russia','India','China','South Africa'],
    'capital':['Brasilia','Moscow','New Delhi','Beijing','Pretoria'],
    'area':[8.516,17.10,3.286,9.597,1.221],
    'population':[200.4, 143.5, 1252, 1357, 52.98]
}

# Importamos la librer√≠a de pandas
import pandas as pd
# Convertimos el diccionario a dataframe
brics = pd.DataFrame(dict)
brics

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

## Definir Indexes en dataframe
Con la funcion .index podemos definir los nuevos valores de los indices del dataframe.

In [4]:
brics.index = ['BR','RU','IN','CH','SA']
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

## Seleccionar columna en especifico

In [9]:
#Regresar una serie de pandas
brics['country']

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [8]:
#Regresar una columna de dataframe de pandas, un subdataframe
brics[['country']]

         country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa

## Acceso por filas

In [11]:
#Si indexamos por n√∫meros, obtenemos las filas dentro del slice.
brics[1:4]
#Funciona pero est√° limitado

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

### loc(label-based)

Se puede ubicar por √≠ndice.

In [13]:
# Obtenemos pandas series.
brics.loc['RU']

# Obtenemos pandas dataframe
brics.loc[['RU']]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

Se pueden seleccionar multiples rows tambien.

In [14]:
brics.loc[['RU','IN','CH']]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

Se puede hacer un segundo index-call para traer las columnas

In [15]:
brics.loc[['RU','IN','CH'],['country','capital']]

   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

Se pueden traer todos los valores o hacer un slice, y solo seleccionar las columnas que deseas.

In [19]:
brics.loc[:,['country','capital']]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

### iloc(integer position-based)

Usas un numero de index en lugar del nombre.

In [22]:
brics.iloc[[1,2,3]]
#es lo mismo que brics.loc[['RU','IN','CH']]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

Se puede hacer un segundo index-call para traer las columnas

In [23]:
brics.iloc[[1,2,3],[0,1]]
#es lo mismo que brics.loc[['RU','IN','CH'],['country','capital']]

   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing